{% extends 'base.html.twig' %}

{% block title %}ModePaiement index{% endblock %}

{% block body %}
    <h1>ModePaiement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mode_paiement in mode_paiements %}
            <tr>
                <td>{{ mode_paiement.id }}</td>
                <td>{{ mode_paiement.nom }}</td>
                <td>{{ mode_paiement.code }}</td>
                <td>
                    <a href="{{ path('mode_paiement_show', {'id': mode_paiement.id}) }}">show</a>
                    <a href="{{ path('mode_paiement_edit', {'id': mode_paiement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mode_paiement_new') }}">Create new</a>
{% endblock %}
