{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | Mode de paiement{% endblock %}
{% block datatables_css %}{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Mode de paiement</h1> <a href="{{path('mode_paiement_new')}}" class="call-action btn">Nouveau</a>
    </div>
    <div class="x_panel">
        <div class="x_content">
            <div class="card-box table-responsive">
                <table id="datatable-responsive" class="table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for mode_paiement in mode_paiements %}
                        <tr>
                            <td>{{ mode_paiement.id }}</td>
                            <td>{{ mode_paiement.nom }}</td>
                            <td>
                                <a href="{{ path('mode_paiement_show', {'id': mode_paiement.id}) }}">detail</a>
                                <a href="{{ path('mode_paiement_edit', {'id': mode_paiement.id}) }}">modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
