{{ form_start(form) }}
	<div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Nom <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6">
        	{{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'required':'required'} }) }}
        </div>
    </div>
    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Prix <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6">
	        {{ form_widget(form.prix, { 'attr': {'class': 'form-control', 'required':'required'}} ) }}
	    </div>
    </div>
    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Categorie <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6">
	        {{ form_widget(form.categorie, { 'attr': {'class': 'form-control', 'required':'required'}} ) }}
	    </div>
    </div>
    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Stock <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6">
	        {{ form_widget(form.stock, { 'attr': {'class': 'form-control'}} ) }}
	    </div>
    </div>
    <div class="item form-group">
        <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Image
        </label>
        <div class="col-md-6 col-sm-6">
	        {{ form_widget(form.image, { 'attr': {'class': 'form-control'}} ) }}
	    </div>
    </div>
    <div class="item form-group">
        <div class="col-md-6 col-sm-6 offset-md-3">
            {% if produit.image %}
                <img class="hg-35" height="41" src="{{ asset('uploads/produits/' ~ produit.image) }}" />
            {% endif %}
        </div>
    </div>
    <div class="ln_solid"></div>
	<div class="form-group">
		<div class="offset-md-3">
		  <button class="btn call-action">{{ button_label|default('Enregistrer') }}</button>
		</div>
	</div>
{{ form_end(form) }}
