{% extends 'base.html.twig' %}

{% block title %}SortieCaisse{% endblock %}

{% block body %}
    <h1>SortieCaisse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortie_caisse.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ sortie_caisse.date ? sortie_caisse.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sortie_caisse.description }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ sortie_caisse.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sortie_caisse_index') }}">back to list</a>

    <a href="{{ path('sortie_caisse_edit', {'id': sortie_caisse.id}) }}">edit</a>

    {{ include('sortie_caisse/_delete_form.html.twig') }}
{% endblock %}
