{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | Appareil{% endblock %}

{% block datatables_css %}{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Appareil</h1> <a href="{{path('appareil_index')}}" class="call-action btn">Liste appareil</a>
    </div>
    <div class="x_panel">
        <div class="x_content">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ appareil.id }}</td>
                    </tr>
                    <tr>
                        <th>Marque</th>
                        <td>{{ appareil.marque }}</td>
                    </tr>
                    <tr>
                        <th>Imei</th>
                        <td>{{ appareil.imei }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ appareil.type }}</td>
                    </tr>
                    <tr>
                        <th>NumSerie</th>
                        <td>{{ appareil.numSerie }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="detail-group-btn">
        <a href="{{ path('appareil_edit', {'id': appareil.id}) }}" class="btn call-action">Modifier</a>
        {{ include('appareil/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block validation_js %}{% endblock %}
{% block datatables_js %}{% endblock %}
