<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title> {% block title %} Belsis | Dashboard {% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{asset('assets/theme/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{asset('assets/theme/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="{{asset('assets/custom/css/custom.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/custom/css/layout.css')}}" rel="stylesheet">

    {% block validation_css %}
    <link href="{{asset('assets/theme/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/theme/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/theme/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/theme/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/theme/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
    {% endblock %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5e13725627773e0d832c21b4/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <link href="{{asset('assets/plugins/toastr/toastr.min.css')}}" rel="stylesheet">
    {% block style %}{% endblock %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Belsis</span></a>
            </div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/images/dynamiques/profile/user.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>{{app.user.prenom}} {{app.user.nom}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3></h3>
                <ul class="nav side-menu">
                  <li>
                    <a href="{{path('restaurant_index')}}">Trafic</a>
                    {#<ul class="nav child_menu" style="display: none;">
                      <li><a href="index.html">Dashboard</a></li>
                    </ul>#}
                  </li>
                  <li>
                    <a href="{{path('paiement_index')}}">Paiement</a>
                  </li>
                  <li>
                  <li>
                    <a href="{{path('abonnement_index')}}">Abonnement</a>
                  </li>
                  <li>
                    <a href="{{path('plan_index')}}">Plan</a>
                  </li>
                  <li>
                    <a href="{{path('produit_index')}}">Produit</a>
                  </li>
                  <li>
                    <a href="{{path('commande_index')}}">commande</a>
                  </li>
                  <li>
                    <a href="{{path('mode_paiement_index')}}">Mode paiement</a>
                  </li>
                  <li>
                    <a href="{{path('categorie_index')}}">Categorie</a>
                  </li>
                  <li>
                    <a href="{{path('user_index')}}">Utilisateurs</a>
                  </li>
                  <li>
                    <a href="{{path('table_index')}}">Table</a>
                  </li>
                  <li>
                    <a href="{{path('appareil_index')}}">Appareil</a>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Deconnexion" href="{{path('fos_user_security_logout')}}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
        <!-- top navigation -->
        <div class="top_nav clearfix">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <img src="images/img.jpg" alt="">{{app.user.prenom}} {{app.user.nom}}
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          {% block bo_content %}{% endblock %}
        </div>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="{{asset('assets/theme/vendors/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{asset('assets/plugins/toastr/toastr.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{asset('assets/theme/vendors/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>

    {% block datatables_js %}
    <script src="{{asset('assets/theme/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
    <script src="{{asset('assets/theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
    {% endblock %}
    {% block validation_js %}
      <script src="{{asset('assets/theme/vendors/validator/validator.js')}}"></script>
    {% endblock %}  

    <!-- Custom Theme Scripts -->
    <script src="{{asset('assets/custom/js/custom.min.js')}}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function() { 
        {% for message in app.flashes('success') %}
          toastr.success("success", "{{ message }}");
        {% endfor %}
        {% for message in app.flashes('error') %}
          toastr.error("error", "{{ message }}");
        {% endfor %}
        {% for message in app.flashes('infos') %}
          toastr.infos("error", "{{ message }}");
        {% endfor %}
        {% for message in app.flashes('warning') %}
            toastr.warning("{{ message }}");
        {% endfor %}
      });  
    </script>
	
  </body>
</html>
