
{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | Messagerie{% endblock %}
{% block style %}
	<style type="text/css">
	    img{ max-width:100%;}
	    .inbox_people {
	      background: #f8f8f8 none repeat scroll 0 0;
	      float: left;
	      overflow: hidden;
	      width: 40%; border-right:1px solid #c4c4c4;
	    }
	    .inbox_msg {
	      border: 1px solid #c4c4c4;
	      clear: both;
	      overflow: hidden;
	    }
	    .top_spac{ margin: 20px 0 0;}


	    .recent_heading {float: left; width:40%;}
	    .srch_bar {
	      display: inline-block;
	      text-align: right;
	      width: 60%; padding:
	    }
	    .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

	    .recent_heading h4 {
	      color: #05728f;
	      font-size: 21px;
	      margin: auto;
	    }
	    .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
	    .srch_bar .input-group-addon button {
	      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	      border: medium none;
	      padding: 0;
	      color: #707070;
	      font-size: 18px;
	    }
	    .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

	    .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
	    .chat_ib h5 span{ font-size:13px; float:right;}
	    .chat_ib p{ font-size:14px; color:#989898; margin:auto}
	    .chat_img {
	      float: left;
	      width: 11%;
	    }
	    .chat_ib {
	      float: left;
	      padding: 0 0 0 15px;
	      width: 88%;
	    }

	    .chat_people{ overflow:hidden; clear:both;}
	    .chat_list {
	      border-bottom: 1px solid #c4c4c4;
	      margin: 0;
	      padding: 18px 16px 10px;
	    }
	    .inbox_chat { height: 550px; overflow-y: scroll;}

	    .active_chat{ background:#ebebeb;}

	    .incoming_msg_img {
	      display: inline-block;
	      width: 6%;
	    }
	    .received_msg {
	      display: inline-block;
	      padding: 0 0 0 10px;
	      vertical-align: top;
	      width: 92%;
	     }
	     .received_withd_msg{width: 46%;}
	     .received_withd_msg p {
	      background: #ebebeb none repeat scroll 0 0;
	      border-radius: 3px;
	      color: #646464;
	      font-size: 14px;
	      margin: 0;
	      padding: 5px 10px 5px 12px;
	      width: 100%;
	    }
	    .time_date {
	      color: #747474;
	      display: block;
	      font-size: 12px;
	      margin: 8px 0 0;
	    }

	     .sent_msg p {
	      background: #05728f none repeat scroll 0 0;
	      border-radius: 3px;
	      font-size: 14px;
	      margin: 0; color:#fff;
	      padding: 5px 10px 5px 12px;
	      width:100%;
	    }
	    .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
	    .sent_msg {
	      float: right;
	      width: 46%;
	    }
	    .input_msg_write input {
	      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	      border: medium none;
	      color: #4c4c4c;
	      font-size: 15px;
	      min-height: 48px;
	      width: 100%;
	      border: 1px solid rgba(0, 0, 0, 0.14);
	    }

	    .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
	    .msg_send_btn {
	      background: #05728f none repeat scroll 0 0;
	      border: medium none;
	      border-radius: 50%;
	      color: #fff;
	      cursor: pointer;
	      font-size: 17px;
	      height: 33px;
	      position: absolute;
	      right: 0;
	      top: 11px;
	      width: 33px;
	    }
	    .messaging { padding: 0 0 50px 0;}
	    #ws-content {
	      height: 516px;
	      overflow-y: auto;
	    }
	    #ws-content > *:not(:last-child){
	    	margin-bottom: 18px;
	    }
	    #ws-content .avatar-sender{border-radius: 50%;}
	    .write_msg, .write_msg:focus, .write_msg:active{
	    	width: 100%;
	    	border: 1px solid rgb(189, 185, 185);
	    	border-top: none;
	    }
	</style>
{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">
        	Discussion
       		{% if discussion.nom %}
       			<b>{{discussion.nom}}</b>
       		{% else %}
       			<b>#{{discussion.id}}</b>
       		{% endif %}
        </h1>
        <a class="call-action btn" href="{{path('discussions')}}">mes discussions</a>
    </div>
    <div class="x_panel">
        <div class="x_content">
        	<div class="example-wrapper">
		       <div class="mesgs">
		        <div id="ws-content">
		        	{% for msg in discussion.messages %}
		        	{% if msg.destinateur.id != user.id %}
		        	<div class="incoming_msg">
				        <div class="incoming_msg_img"> 
				        	{% if user.avatar %}
				        	<img class="avatar-sender" src="{{asset('images/dynamiques/profile/'~user.avatar)}}" alt="sunil">
				        	{% else %}
				        	<img src="{{asset('images/dynamiques/profile/user.png')}}" alt="sunil">
				        	{% endif %}
 						</div>
				        <div class="received_msg">
				          <div class="received_withd_msg">
				            <p>{{msg.contenu}}</p>
				            <span class="time_date">
				            	{{msg.dateCreate|date('Y-m-d H:i')}}
				            </span></div>
				        </div>
				    </div>
				    {% else %}
				    <div class="outgoing_msg">
			            <div class="sent_msg">
			            	<p>{{msg.contenu}}</p>
			            	<span class="time_date">
				            	{{msg.dateCreate|date('Y-m-d H:i')}}
				            </span> 
			            </div>
			        </div>
			        {% endif %}
			        {% endfor %}
		        </div>
		        <div class="type_msg">
		          <div class="input_msg_write">
		            <textarea  class="write_msg" placeholder="Type a message" id="message-input"  oninput="auto_grow(this)"></textarea>
		            <button class="msg_send_btn" type="button" id="send-message"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
		          </div>
		        </div>
		      </div>
			</div>
        </div>
    </div>
{% endblock %}
{% block validation_js %}
	<audio id="audio" preload="auto" src="https://notificationsounds.com/notification-sounds/deduction-588/download/mp3"></audio>
    <script type="text/javascript">
		
		var wsUrl = '{{ ws_url }}';
		var $receiver = $('#ws-content');
		var ws = new WebSocket('ws://' + wsUrl);
		var defaultChannel = '{{ discussion.id }}';
		var botName = 'ChatBot';
		var userId = '{{ user.id }}';

		ws.onopen = function () {
			ws.send(JSON.stringify({
				action: 'subscribe',
				channel: defaultChannel,
				userId: '{{ user.id }}'
			}));
		};

		//se prepare à recevoir un message venant des autres utilisateurs
		ws.onmessage = function (event) {
			if( (JSON.parse(event.data).action == "subscribe") && (JSON.parse(event.data).userId != "{{ user.id }}") ){
				toastr.info("Un membre a rejoins la discussion");
			}
			else
				addMessageToChannel(event.data);
		};

		ws.onclose = function () {
			//_receiver.innerHTML = 'Connection closed';
		};

		ws.onerror = function () {
			//_receiver.innerHTML = 'An error occured!';
		};

		function auto_grow(element) {
			element.style.height = (element.scrollHeight)+"px";
		}
		$('#send-message').click(function(){
			var content = $('#message-input').val();
			if(!content || content==''){
				toastr.error("Le message ne peut pas être vide");
			}
			else{
				$dataMessage = {
					action: 'message',
					userId: userId,
					message: content,
					channel: defaultChannel,
					date:new Date(),
				};
				//addMessageToChannel($dataMessage);
				ws.send(JSON.stringify($dataMessage));
				$('#message-input').val('').css('height', 'auto');
			}
		})
		$length = $("#ws-content").children().length;
		$("#ws-content").animate({
			scrollTop: $("#ws-content").children().eq($length -1).position().top
		}, 'slow');
		$scrollToTop = $("#ws-content").children().eq($length -1).position().top;
		function addMessageToChannel($dataMessage){
			var $dataMessage = JSON.parse($dataMessage);
			if($dataMessage.userId != "{{ user.id }}"){
				$msgElt = '<div class="incoming_msg">'+
			        '<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>'+
			        '<div class="received_msg">'+
			          '<div class="received_withd_msg">'+
			            '<p>'+$dataMessage.message+'</p>'+
			            '<span class="time_date">'+$dataMessage.date+'</span></div>'+
			        '</div>'+
			      '</div>';				
			}
			else{
		      $msgElt = '<div class="outgoing_msg">'+
				            '<div class="sent_msg">'+
				              '<p>'+$dataMessage.message+'</p>'+
				              '<span class="time_date">'+$dataMessage.date+'</span> </div>'+
				        '</div>';			
			}
			$('#ws-content').append($msgElt);

			if($dataMessage.userId != userId){
				toastr.success("Nouveau message");
			    document.getElementById('audio').play()
			}

			$length = $("#ws-content").children().length;
			$scrollToTop +=  $("#ws-content").children().eq($length -1).height();
			$("#ws-content").animate({scrollTop: $scrollToTop + $("#ws-content").children().eq($length -1).height()}, 'slow');
		}
  	</script>
{% endblock %}