
{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | Messagerie{% endblock %}
{% block style %}
	<style type="text/css">
		.discussion-item{
			display: block;
			box-shadow: 0px 0px 2px 0px
			rgba(0, 0, 0, 0.2);
			padding: .4rem 1rem;
			margin-top: 6px;
		}
		.discussion-item .contenu{margin:7px 0px;}
		.user-list .user-item{
			padding: 7px 0;
			border-bottom: 1px solid #e8dfdf;
		}
	</style>
{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Mes discussions</h1> 
        <span class="call-action btn openModalUser" data-toggle="modal" data-target="#modalUser" style="cursor:pointer">Nouvelle discussions</span>
    </div>
    <div class="x_panel">
        <div class="x_content">
        	<div class="example-wrapper">
        		{% for disc in discussions %}
		       	<a href="{{path('messagerie',{'id_discussion':disc.id})}}" class="discussion-item">
		       		<div>
		       			Discussion
			       		{% if disc.nom %}
			       			<b>{{disc.nom}}</b>
			       		{% else %}
			       			<b>#{{disc.id}}</b>
			       		{% endif %}
		       		</div>
		       		{% if disc.messages|length %}
		       		<p class="contenu">
		       			{{ disc.messages[disc.messages|length - 1].contenu }}
		       		</p>
		       		<span>
		       			{{ disc.messages[disc.messages|length - 1].dateCreate|date('Y-m-d H:i') }}
		       		</span>
		       		{% endif %}
		       	</a>
		       {% endfor %}
			</div>
        </div>
    </div>

	<div id="modalUser" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	    	<h2 style="padding-left:16px">Demarrer une discussion avec</h2>
	      <div class="modal-body modal-user-list"></div>
	    </div>
	  </div>
	</div>

{% endblock %}
{% block validation_js %}
	<script type="text/javascript">
		$('.openModalUser').click(function(){
			$.ajax({
	            url: "{{path('users_list_xhr')}}",
	            type: "GET",
	            dataType: "json",
	            async: true,
	            data: {},
	            success: function(data, status) {
	                $(".modal-user-list").html(data);
	            },
	            error: function(xhr, textStatus, errorThrown) {
	              console.log(errorThrown);
	            }
	        });
		});
	</script>
{% endblock %}