{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | Restaurant{% endblock %}

{% block datatables_css %}{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Restaurants</h1> 
        {% if app.user.role == "super_admin" %}
            <a href="{{path('restaurant_index')}}" class="call-action btn">Liste restaurant</a>
        {% endif %}
    </div>
    <div class="x_panel">
        <div class="x_content">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ restaurant.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ restaurant.nom }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ restaurant.adresse }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ restaurant.status ? 'Actif' : 'Desactivé' }}</td>
                    </tr>
                    <tr>
                        <th>Chiffre d'affaire</th>
                        <td>{{ restaurant.chiffreAffaire }}</td>
                    </tr>
                    <tr>
                        <th>Total commande</th>
                        <td>{{ nbrCommande }}</td>
                    </tr>
                    <tr>
                        <th>Logo</th>
                        <td>
                            <img class="hg-35 in-table" src="{{ asset('images/uploads/restaurant/' ~ restaurant.logo) }}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Devise</th>
                        <td>{{ restaurant.devise }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="detail-group-btn">
        <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}" class="btn call-action">Modifier</a>
        {% if app.user.role == "super_admin" %}
            <a href="{{ path('restaurant_status', {'id': restaurant.id}) }}" class="btn btn-primary">
                {{ restaurant.status ? 'Bloquer' : 'Activer' }}
            </a>
            {#
            {{ include('restaurant/_delete_form.html.twig') }}
            #}
        {% endif %}
    </div>
{% endblock %}

{% block validation_js %}{% endblock %}
{% block datatables_js %}{% endblock %}
{% block script %}
    <script type="text/javascript">
        $('.nav.side-menu .item-menu-trafic').addClass('active');
    </script>
{% endblock %} 

