<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Belsis{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap-4.3.1-dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome-4.7.0/css/font-awesome.css') }}">

    <script src="{{ asset('css/bootstrap-4.3.1-dist/js/bootstrap.js') }}"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body>
<header class="row header">
    <nav class="top-nav">
        <ul>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                    <a href="{{ app.request.baseUrl }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('restaurant_index') }}">Restaurant</a>
                </li>
                <li>
                    <a href="{{ path('user_index') }}">Utilisateur</a>
                </li>
                <li>
                    <a href="{{ path('sortie_caisse_index') }}">Sorties</a>
                </li>
                <li>
                    <a href="{{ path('appareil_index') }}">Appareil</a>
                </li>
                <li>
                    <a href="{{ path('categorie_index') }}">Categorie</a>
                </li>
                <li>
                    <a href="{{ path('table_index') }}">Table</a>
                </li>
                <li>
                    <a href="{{ path('stock_index') }}">Stock</a>
                </li>
                <li>
                    <a href="{{ path('produit_index') }}">Produit</a>
                </li>
                <li>
                    <a href="{{ path('commande_index') }}">Commande</a>
                </li>
                <li>
                    <a href="{{ path('mode_paiement_index') }}">Mode-paiement</a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        Déconnexion({{ app.user.getUsername() }})
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}">
                        Connexion
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class="container">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
</div>
<script src="{{ asset('css/font-awesome-4.7.0/js/font-awesome.js') }}"></script>
</body>
</html>
