{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | gestion utilisateur{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Liste des utilisateurs</h1> <a href="{{path('user_new')}}" class="call-action btn">Nouveau utilisateur</a>
    </div>
    <div class="x_panel">
        <div class="x_content">
            <div class="card-box table-responsive">
                <table id="datatable-responsive" class="table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Enabled</th>
                            <th>Roles</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                            <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="15">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block validation_js %}
{% endblock %}
